@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

* {
	/* Universal Selector. Applies this code to everything. */

	box-sizing: border-box; /* If we apply any padding or border to an element, it doesn't effect the width */
}
body {
	background-color: #ffe600;
	color: rgb(0, 0, 0);
	font-family: "Roboto Mono", sans-serif;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	display: flex;
	margin: 0;
}
